---
//pages/index.astro
import Layout from '../layouts/Layout.astro';
import TicketForm from '../components/TicketForm.astro';
---

<Layout title="Submit a Ticket">
  <h1>Submit a Ticket</h1>
  <TicketForm />
</Layout>